.main h2 {
  text-align: center;
}

/* 프로필 스타일 */
.profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #000;
  display: block;
  margin: 0 auto 20px auto;
}

.profile button,
.profile input {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px; /* 버튼 간의 간격 */
  border-radius: 5px;
}

.profile button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.profile button:hover {
  background-color: #333;
}

.profile input {
  width: 200px; /* 필드 크기 */
  border: 1px solid #ccc;
}
/* 탭 스타일 */
.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: color 0.3s, font-weight 0.3s;
}

.tabs button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
  transform: scaleX(0);
  transform-origin: center;
}

.tabs button:hover {
  color: #555;
}

.tabs .active {
  font-weight: bold;
}

.tabs .active::after {
  background-color: #000;
  transform: scaleX(1);
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .tabs button {
    font-size: 14px;
  }
}
