.calculator_input_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.calculator_input_wrap > input {
  flex: 1;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.calculator_input_wrap > button {
  background-color: #f9f9f9;
  color: var(--black);
  padding: 1rem;
  margin: 0;
  max-height: 47.5px;
  font-size: 1.05rem;
  transition: 0.5s;
}
.calculator_input_wrap > button:hover {
  background-color: var(--main-color);
  color: var(--white);
}
.calculator_result_wrap > h3 > span {
  font-family: 'Pretendard-Bold';
  font-size: 1.2em;
  color: var(--main-color);
}
.button {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--white);
  margin: 0 0.5rem 0.5rem 0;
  transition: 0.5s;
}
.button:hover {
  background-color: var(--white);
  border-color: var(--main-color);
  color: var(--main-color);
}
