.ft {
  background-color: var(--lightGray);
  /* border-top: 1px solid var(--lightGray); */
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8em;
  color: var(--gray);
}

.ft > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
