.mainVisual {
  border: none;
  text-align: center;
  /* padding: 5vw 3em; */
  padding: 2% 0 0;
  margin-bottom: 4rem;
  color: var(--white);
  /* background: url('../../public/img/test.png') no-repeat center center,
    linear-gradient(-45deg, #6d4ee5, #d7d1f9, #ffc1d5, #ff83a8); */
  background: center center,
    linear-gradient(-45deg, #6d4ee5, #d7d1f9, #ffc1d5, #ff83a8);
  animation: gradient 10s ease infinite;
  background-size: cover, 400% 400%;

  position: relative;
  overflow: hidden;
}
.mainVisual span {
  color: #ffda00;
}

.title {
  position: relative;
  z-index: 1;
  font-family: 'JalnanGothic';
  font-size: 11vw;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave {
  opacity: 0.5;
  position: absolute;
  /* top: -150%; */
  top: -50%;
  left: 50%;
  background: var(--main-color);
  width: 70%;
  height: 70vw;
  margin-left: -35%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 0;
}
.wave.two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: #ffab52;
}
.wave.three {
  animation: drift 5000ms infinite linear;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
