.write form input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  padding: 1rem 0;
  margin-bottom: 40px;
  font-family: 'Pretendard-semiBold';
  font-size: 3.125em;
}
.write form button {
  margin: 1rem auto 0;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem 0;
  text-align: right;
  font-family: 'Pretendard-Bold';
  font-size: 3.125em;
  transition: 0.5s;
}
.write form button:hover {
  color: var(--main-color);
}
