.wrap {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.feed {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feed input {
  border: none;
  border-radius: 20px;
  background-color: var(--lightGray);
  width: 100%;
  max-width: 1000px;
  height: 50px;
  margin: 20px auto;
  color: var(--gray);
  padding: 0 3rem;
}
.searchIcon {
  /* position: absolute;
  left: 10px; */
  width: 20px;
  height: 20px;
}

.feedContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; /* 가로세로 2rem 간격 */
  padding: 10px;
}

.feedimg {
  border: 1px solid red;
  width: 250px;
  height: 250px;
}

.feed button {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
