.wrap {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.feedDetail {
  padding: 2rem 0;
}

.feedDetail img {
  width: 50%;
  height: cover;
}

.feedDetail h3 {
  width: 30%;
  margin: 1rem 0 0 0;
  border-radius: 20px;
  padding: 1rem 0;
  font-size: 30px;
}
.feedDetail p {
  width: 30%;
  border-radius: 20px;
  font-weight: bold;
}
.feedDetail div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  overflow: scroll;
  text-align: start;
  padding: 1rem 2rem;
}
.button {
  display: flex;
}

.button > * {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 30px;
  background-color: var(--lightGray);
  border-radius: 10px;
  top: -10px;
  left: 65%;
  margin: 0 1rem;
  transition: 0.5s;
}

.button > *:hover {
  background-color: var(--gray);
}
