.feedsTabcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.feedsTabcon .feedsTabImg {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.feedsTabcon .feedsTabImg img {
  width: 100%;
  object-fit: cover;
  border: 1px solid red; /* 테스트용 경계선 스타일 */
  border-radius: 10px;
}

@media (max-width: 600px) {
  .feedcon {
    grid-template-columns: 2 1fr;
  }
}
