.feedsTabcon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  grid-auto-rows: 280px; /* 각 행의 높이를 너비와 같게 설정 */
}

.feedsTabImg {
  width: 100%;
  position: relative;
}

.feedsTabImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 상자에 맞춰 잘라서 보여줌 */
  border-radius: 10px;
}

@media (max-width: 600px) {
  .feedcon {
    grid-template-columns: 2 1fr;
  }
}
