.wrap {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.feed {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedContainer {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

/* 반응형 디자인: 화면 크기에 따라 그리드 열 수 변경 */
@media (max-width: 1024px) {
  .feedContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .feedImg img {
    /* border: 1px solid red; */
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.feedImg img {
  /* border: 1px solid red; */
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.createButton {
  position: fixed;
  top: 80%;
  left: 50%;
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transform: translateX(-50%);
}

.plusIcon {
  position: relative;
  width: 35px;
  height: 35px;
}

.plusIcon::before,
.plusIcon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 5px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.plusIcon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.plusIcon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 800px) {
  .feedContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .feedImg img {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
