.feedItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.feedTitle {
  font-weight: bold;
}

.feedDate {
  font-size: 0.9rem;
  color: gray;
  text-align: end;
}
