.login h2 {
  text-align: center;
}

.login form,
.singupin {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.login input {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2px;
  border: 1px solid black;
}

.login form button,
.singupin button {
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 2px;
}

.login form button {
  background-color: black;
  color: white;
}

.singupin button {
  background-color: #f1f1f1;
}
