.singup {
  padding: 50px 0;
}

.singup h2 {
  text-align: center;
}

.singup form {
  max-width: 450px;
  margin: auto;
}
.singup label {
  position: relative;
  top: 10px;
}

.singup input {
  width: 100%;
  padding: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

.singup form button {
  padding: 1.5rem;
  width: 100%;
  margin-top: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.errorMessage,
.errorMessage2 {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  text-align: end;
}
