.singup h2 {
  text-align: center;
}

.singup form {
  max-width: 450px;
  margin: auto;
}
.singup label {
  position: relative;
  top: 10px;
}

.singup input {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 2px;
  border: 1px solid var(--black);
}

.singup form button {
  padding: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: var(--black);
  color: white;
  font-size: 1em;
}
.errorMessage,
.errorMessage2 {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  text-align: end;
}
