.commentArea {
  padding: 2rem 1.5rem;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.commentArea h3 {
  font-family: 'Pretendard-semiBold';
  font-size: 1.25rem;
}
.comment_input_wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; */
}
.comment_input {
  border: none;
  /* flex: 1;
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid #aaaaaa; */
}
.comment_wrap {
  border-bottom: 1px solid #999;
  /* margin: 1rem 2rem 1rem 2rem; */
}
.comment_content {
  margin-left: 3rem;
}
.comment_content_wrap {
  display: flex;
  justify-content: space-between;
}
.comment_submit_button {
  white-space: nowrap;
}
