.commentArea {
  padding: 2rem 1.5rem;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.commentArea h3 {
  margin-bottom: 1rem;
  font-family: 'Pretendard-semiBold';
  font-size: 1.25rem;
}
.comment_input_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
}
.comment_input {
  width: 100%;
  border: none;
  padding: 0 0 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f9f9f9;
}
.commentArea > ul li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.commentArea > ul li:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
.commentArea > ul li form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.commentArea > ul li form input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem 2rem;
}
.commentArea > ul li form button {
  border: none;
  background-color: transparent;
  transition: 0.5s;
}
.commentArea > ul li form button:hover {
  color: var(--main-color);
}
.comment_wrap small {
  display: block;
  font-family: 'Pretendard-SemiBold';
  font-size: 0.95em;
  margin-bottom: 0.85rem;
}
.comment_content_wrap {
  font-size: 0.95em;
  color: #666;
  line-height: 1.3;
  overflow: hidden;
  word-wrap: break-word;
}
.comment_content_wrap > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
}
.comment_content_wrap > div button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 0.9em;
  color: #ccc;
  transition: 0.5s;
}
.comment_content_wrap > div button:hover {
  color: var(--sub-color);
}
.comment_submit_button {
  width: 90px;
  padding: 0.65rem 0;
  font-size: 0.95em;
  background-color: #f9f9f9;
  color: var(--black);
  transition: 0.5s;
}
.comment_submit_button:hover {
  background-color: var(--main-color);
  color: var(--white);
}
