.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 1rem;
}

.gridContainer > li {
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr; /* 2개 열로 변경 */
  }
}
