.mySwiper {
  margin-bottom: 40px;
}
.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.author {
  text-align: center;
}
.title {
  margin-bottom: 1rem;
}
.author {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #929292;
}

.desc {
  text-align: center;
  margin-bottom: 40px;
}

.subTitle {
  font-family: 'Pretendard-Medium';
  font-size: 18px;
  margin-bottom: 1rem;
}

.ingredientCon {
  margin-bottom: 40px;
}

.ingredientItem {
  background-color: #f9f9f9;
  border-radius: 5px;
  margin: 10px 0;
}
.ingredientItem,
.instructions {
  padding: 1.5rem 1rem;
}

.instructions {
  border: 1px solid var(--black);
  border-radius: 5px;
  margin: 10px 0;
  min-height: 250px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.editBtn {
  width: 130px;
  height: 60px;
  border: none;
  border-radius: 5px;
}

.deleteBtn {
  width: 130px;
  height: 60px;
  border: none;
  border-radius: 5px;
}
