.imgCon {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 313px;
  height: 313px;
}

.imgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.imgText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  color: var(--black);
  text-align: left;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imgText h3,
.imgText span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText h3 {
  font-family: "pretendard-medium";
  font-size: 18px;
}

.imgText span {
  font-family: "pretendard-right";
  font-size: 16px;
  color: #808080;
}
