.addBtn {
  color: #ffffff;
  background-color: #333333;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 20px;
  gap: 20px;
}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
