.addBtn {
  height: 36px;
  padding: 0 1rem;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
  transition: 0.5s;
}
.addBtn:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}

.gridContainer > li {
  overflow: hidden;
  border-radius: 5px;
}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
