.main h3 {
  text-align: center;
  font-weight: bold;
}

.mySwiper {
  margin-bottom: 40px;
  /* border: 1px solid red; */
}
.swiperSlide .image {
  width: 100%;
}

.title,
.authorNickname {
  text-align: center;
}
.title {
  margin-bottom: 1rem;
}
.authorNickname {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #929292;
}

.desc {
  text-align: center;
  margin-bottom: 40px;
}

.ingredientCon {
  margin-bottom: 40px;
}

.ingredientItem {
  background-color: #f9f9f9;
  border-radius: 2rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  max-width: 600px;
}

.ingredientItem {
  justify-content: space-between;
}

.measureWrap {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.ingredientImg {
  height: 50px;
}

.instructions {
  display: flex;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin: 1rem auto;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  line-height: 2;
  height: 200px;
}

.btnCon {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.editBtn,
.delBtn {
  width: 130px;
  height: 60px;
  border: none;
}
